/*************
GENERAL
*************/
p, h2, h3, h4, h5, a, button {
  font-family: Helvetica;
}
body {
  background-color: #f7f7f7;
}
html {
  margin: 0;
  padding: 0;
}
/*************
HOMEPAGE
*************/
.jumbotron {
  background-color: #e3f2fd;
}
.email-link {
  text-decoration: none;
}
